---
import type CollectionEntryBase from "../types/CollectionEntryBase";
import CollectionItem from "./CollectionItem.astro";

type Props = {
	id: string;
	title: string;
	entries: CollectionEntryBase[];
	extraCount: number;
};

const { id, title, entries, extraCount } = Astro.props;

const collectionId = `collection-${id}`;

const dateFormatter = Intl.DateTimeFormat("en-GB", { dateStyle: "medium" });
---
<style>
.collection {
    flex: 1;
    min-inline-size: fit-content;
    border-inline-start: 3px solid light-dark(rgb(6, 0, 88), rgb(221, 219, 255));
    padding-inline-start: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
</style>
<div class="collection" role="feed" aria-labelledby={`${collectionId}-title`}>
    <h3 id={`${collectionId}-title`}>Latest {title}</h3>
    {entries.map((e, i) => <CollectionItem {...e} link={`/${id}/${e.id}`} totalItemsInSet={entries.length} setPos={i + 1} dateFormatter={dateFormatter} />)}
    {extraCount ? <span><em><a href={`/${id}`}>+ {extraCount} older {title.toLocaleLowerCase()}</a></em></span> : undefined}
</div>